nodered.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c8d8bebd0b3e26c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#7a90b3",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial,Arial,Helvetica,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9ffd54be153c257b",
        "type": "ui_tab",
        "name": "Sıcaklık ve Nem Bilgileri",
        "icon": "",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "09b30b75e8113571",
        "type": "ui_group",
        "name": "Bulut Bilişimciler",
        "tab": "9ffd54be153c257b",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5204b8aa1681577",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/iot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "19c2a2f792d147f7",
                "cde14b52a7d8e428",
                "6d673094053b158d",
                "d39fd2e6a4ee4085",
                "2d23c7b291326b5b"
            ]
        ]
    },
    {
        "id": "2d23c7b291326b5b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "19c2a2f792d147f7",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 280,
        "y": 220,
        "wires": []
    },
    {
        "id": "cde14b52a7d8e428",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "sicaklik",
        "func": "msg.payload = Number(msg.payload['sicaklik'].toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 40,
        "wires": [
            [
                "f86d306df5e19391"
            ]
        ]
    },
    {
        "id": "f86d306df5e19391",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "09b30b75e8113571",
        "order": 0,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "sicaklik",
        "label": "°C ",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "6d673094053b158d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "nem",
        "func": "msg.payload = Number(msg.payload['nem'].toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 160,
        "wires": [
            [
                "cdafc8e8e93f6231"
            ]
        ]
    },
    {
        "id": "d39fd2e6a4ee4085",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "hissedilen ",
        "func": "msg.payload = Number(msg.payload['hissedilen'].toFixed(2))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 100,
        "wires": [
            [
                "2ea1515643a9b9a1"
            ]
        ]
    },
    {
        "id": "cdafc8e8e93f6231",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "09b30b75e8113571",
        "order": 0,
        "width": "5",
        "height": "5",
        "gtype": "donut",
        "title": "nem",
        "label": " g/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "2ea1515643a9b9a1",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "09b30b75e8113571",
        "order": 0,
        "width": "5",
        "height": "5",
        "gtype": "wave",
        "title": "hissedilen",
        "label": "°C ",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 100,
        "wires": []
    }
]